@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
    color: #333;
  }
  ul, li {
    list-style: none;
  }
}

@layer components {
  .wrapper {
    width: 1100px;
    margin: 0 auto;
  }
  .page-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
  .btn-main {
    background: var(--color-primary);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 6px;
  }
}

@layer utilities {
  .bg-sprite {
    background-image: url("@/public/images/spride.png");
    background-repeat: no-repeat;
  }
  .flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}